<?php

/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * config.php.dist
 *
 * This file is part of perfboard.
 *
 * perfboard is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * perfboard is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with perfboard.  If not, see
 * <http://www.gnu.org/licenses/>.
 *
 * @category  Nagios
 * @package   perfboard
 * @author    Sebastian Nohn <sebastian@nohn.net>
 * @copyright 2013-2016 Sebastian Nohn <sebastian@nohn.net>
 * @license   http://opensource.org/licenses/AGPL-3.0 AGPL License
 * @link      https://github.com/nohn/perfboard
 */
$identity = 'FIXXME';
$samples = 1;
$nsca_host = false;

$objects = array(
    'Example 1' => array(
        'url' => 'http://www.example.com/',
        'string' => 'Example1',
        'warn' => '100',
        'crit' => '200'),
    'Example 2' => array(
        'url' => 'http://www.example.com/',
        'string' => 'Example',
        'warn' => '100',
        'crit' => '200'),
);

$sensors = array(
    'Sensor 1' => array('url' => 'http://sensor1.example.com/'),
    'Sensor 2' => array('url' => 'http://sensor2.example.com/', 'penalty' => '1'), // penalty 1 means, sensor is allowed to be 100% slower e.g. double the latency.
);
